{% extends "base.html" %}
{% load i18n static %}

{% block heading %}
<h3><span class="fa fa-lock"></span>重置密码</h3>
{% endblock %}

{% block content %}

{% if validlink %}

<h4>{% trans '输入新的密码' %}</h4>

<p>{% trans "请两次输入新的密码,确保您的输入正确." %}</p>

<form class="form" action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="text-danger">
    {% trans '请更正以下输入错误' %}
    </p>
{% endif %}

<div class="form-group">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="col-md-2 control-label">{% trans '新的密码' %}</label>
    {{ form.new_password1 }}
</div>

<div class="form-group">
    {{ form.new_password2.errors }}
    <label for="id_new_password2" class="col-md-2 control-label">{% trans '确认密码' %}</label>
    {{ form.new_password2 }}
</div>

<div class="form-group">
    <div class="col-md-2">
        <input type="submit" value="{% trans '修改密码' %}" class="btn btn-primary" />
    </div>
</div>
</div>
</form>

{% else %}

<h4>{% trans '密码重置失败' %}</h4>

<p>{% trans "密码重置链接失效,可能已经被使用.请重新申请重置密码." %}</p>

{% endif %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("id_new_password1").focus();
</script>
{% endblock %}